<% form_for Task.new do |f|%>
   <%# TODO: dry up form fields -%>
   <%= f.text_field :description %>
   <%= f.text_field :owner %>
   <%= f.select :remaining, (1..10).to_a %>
   <%= f.date_select :demo %>
   <button>Create new task</button>
<% end %>

<hr/>

<% form_tag tasks_path, :method => 'GET' do %>
   <%= select_tag 'owner', owner_select_options(@product) %>
   <%= select_tag 'demo',  demo_select_options(@product) %>
   <button>Filter tasks</button>
<% end %>

<hr/>

<h2 id='subtotal'>Subtotal: <%= @tasks.sum(:remaining) -%></h2>

<% @tasks.each do |task| %>
   <% form_for task do |f|%>
      <%= f.text_field :description %>
      <%= f.text_field :owner %>
      <%= f.select :remaining, (1..10).to_a %>
      <%= f.date_select :demo %>
      <button>Save</button>
   <% end %>
   
   <%# TODO: refactor to RESTful task delete -%>
   <% form_for :task, task, :url => task_path(task), :html => { :method => 'DELETE' } do |f|%>
      <button>Delete</button>
   <% end %>
<% end %>
