<div class='filter <%= 'empty' if blank_slate? %>'>
   <% form_tag tasks_path, :method => 'GET' do %>
      <span class='new'><%= link_to_function('New task') {|p| p[:new_task].toggle } %></span>
      <span class='criteria'>
         <%= select_tag 'owner', team_select_options(@product) %>
         has
         <em id='subtotal'><%= @tasks.sum(:remaining) -%></em>
         hours remaining for
         <%= select_tag 'demo',  demo_select_options(@product) %>
         <button>Filter</button>
      </span>
   <% end %>
</div>

<% remote_form_for Task.new, {}, :html => { :id => 'new_task', :style => new_task_visability } do |f|%>
   <%= f.text_field :description, :value => '[TASK DESCRIPTION]' %>
   will take 
   <%= f.text_field :owner, :value => '[PERSON]' %>
   <%= f.select :remaining, (0..10).to_a %>
   hours to finish for
   <%= f.select :demo, task_demos(@product) %>
   <button>Create</button>
   <%= link_to_function("Hide") {|p| p[:new_task].hide } unless blank_slate? %>
<% end %>

<div id='tasks'>
   <%= render :partial => 'task', :collection => @tasks %>
</div>
