<div class='filter'>
   <% form_tag tasks_path, :method => 'GET' do %>
      <span class='new'><%= link_to_function('New task') {|p| p[:new_task].toggle } %></span>
      <span class='criteria'>
         <%# TODO: refactor to span(@tasks.sum(:remaining), :id => subtotal) -%>
         <em id='subtotal'><%= @tasks.sum(:remaining) -%></em>
         hours  for 
         <%= select_tag 'owner', team_select_options(@product) %>
         to finish by
         <%= select_tag 'demo',  demo_select_options(@product) %>
         <button>Filter</button>
      </span>
   <% end %>
</div>

<% form_for Task.new, {}, :html => { :id => 'new_task' } do |f|%>
   <%# TODO: dry up form fields -%>
   <%= f.text_field :description %>
   will take 
   <%= f.select :remaining, (0..10).to_a %>
   hours for
   <%= f.text_field :owner %>
   to finish by
   <%= f.select :demo, @product.demos %>
   <button>Create</button>
   <%= link_to_function("Hide") {|p| p[:new_task].hide } %>
<% end %>

<% @tasks.each do |task| %>
   <% form_for task, {}, :html => { :class => "task", :id => "task_#{task.id}" } do |f|%>
      <%= f.text_field :description %>
      will take 
      <%= f.select :remaining, (0..10).to_a %>
      hours for
      <%= f.text_field :owner %>
      to finish by
      <%= f.select :demo, @product.demos %>
      <span class='buttons'>
         <button>Save</button>
         <%= link_to_remote 'Delete', :url => task_path(task), :method => :delete %>
      </span>
   <% end %>
<% end %>
