<div class='feature filter'>
   <% form_tag features_path, :method => 'GET' do %>
   <%= link_to_function('Add feature to backlog') {|p| p[:new].toggle } %>
      
      <span class='subtotal'>
         <em id='subtotal'><%= @features.sum &:estimate %> </em>
         remaining for
         <%= select_tag 'demo', demo_select_options(@product) %>
         <button>Filter</button>
      </span>
   <% end %>
</div>

<div id='new' class='feature new' style='display: none-;'>
   <% form_for Feature.new do |f| %>
      <%# TODO: dry up with update -%>
      <span class='estimate'>Estimate : <%= f.select :estimate, (1..15).to_a %></span>
      <span class='demo'>
         Demo (<%= link_to 'calendar', '/calendar.html' -%>) : 
         <%= f.date_select :demo %>
      </span>
      
      <%= f.text_area :description, :value => "In order to \nAs a \nI should" %>
      
      <span class='buttons'>
         <button>Add feature to backlog</button>
         <%= link_to_function('Hide') {|p| p[:new].toggle } %>
      </span>
   <% end %>
</div>

<% @features.each do |@feature| %>
   <div class="feature <%= @feature.status.downcase -%>" id="feature_<%= @feature.id %>">
      <% form_for :feature, :url => feature_path(@feature), :html => {:method => 'PUT' } do |f| %>
         <span class='estimate'>Estimate : <%= f.select :estimate, (1..15).to_a %></span>
         <span class='demo'>
            Demo (<%= link_to 'calendar', '/calendar.html' -%>) : 
            <%= f.date_select :demo %>
         </span>
      
         <%= f.text_area :description %>
         
         <span class='status'>
            Feature is currently 
            <% Feature::STATUS.each do |status| %>
               <%= f.radio_button :status, status %>
               <%= f.label :status, status.downcase %>
            <% end %>
         </span>
         
         <span class='buttons'>
            <button>Save</button>
            <%= link_to_remote 'Delete', :url => feature_url(@feature), :method => :delete %>
         </span>
      <% end %>
   </div>
<% end %>
