<div class='feature filter'>
   <% form_tag features_path, :method => 'GET' do %>
      <%= link_to 'Add feature to backlog', new_feature_path %>
      
      <span class='subtotal'>
         <em id='subtotal'><%= @features.sum &:estimate %> </em>
         remaining for
         <%= select_tag 'demo', demo_select_options(@product) %>
         <button>Filter</button>
      </span>
   <% end %>
</div>

<div class='feature new'>
   <% form_for Feature.new do |f| %>
      <span class='estimate'>Estimate <%= f.select :estimate, (1..15).to_a %></span>
      <span class='demo'>
         Demo (<%= link_to 'calendar', '/calendar.html' -%>): 
         <%= f.date_select :demo %>
      </span>
      
      <%= f.text_area :description %>
      
      <span class='buttons'>
         <button>Save</button>
         <button>Cancel</button>
      </span>
   <% end %>
</div>

<% @features.each do |@feature| %>
   <%# FIXME: spec status css generation -%>
   <div class="feature <%= @feature.status -%>">
      <% form_for :feature, :url => feature_path(@feature), :html => {:method => 'PUT' } do |f| %>
         <span class='estimate'>Estimate <%= f.select :estimate, (1..15).to_a %></span>
         <span class='demo'>
            Demo (<%= link_to 'calendar', '/calendar.html' -%>): 
            <%= f.date_select :demo %>
         </span>
         
         <%= f.text_area :description %>
         
         <span class='status'>
            <% Feature::STATUS.each do |status| %>
               <%= f.radio_button :status, status %>
               <%= f.label :status, status %>
            <% end %>
         </span>
         
         <span class='buttons'>
            <button>Save</button>
            <button>Delete</button>
         </span>
      <% end %>
   </div>
<% end %>
