<div class='feature filter'>
   <div class='est'>
      <p id='subtotal' class='estimate'>
         <%= @features.inject(0) { |s,f| s += f.estimate } %>
      </p>
   </div>
   <div class='date'>
      <% form_tag features_path, :method => 'GET' do %>
         <%= select_tag 'demo', demo_select_options(@product) %>
         <button>Select demo</button>
      <% end %>
   </div>
</div>

<div class='feature new'>
   <% form_for Feature.new do |f| %>
      <div class='desc'>
         <%= f.text_area :description %>
      </div>
      
      <div class='est'>
         <%= f.select :estimate, (1..10).to_a %>
      </div>
      
      <div class='date'>
         <%= js_date_select :feature, :demo %>
      </div>
      
      <div class='save'>
         <button>Create</button>
      </div>
   <% end %>
</div>

<% @features.each do |@feature| %>
   <%# FIXME: spec status css generation -%>
   <div class="feature <%= @feature.status -%>">
      <% form_for :feature, :url => feature_path(@feature), :html => {:method => 'PUT' } do |f| %>
         <div class='desc'>
            <%= f.text_area :description %>
            
            <% Feature::STATUS.each do |status| %>
               <%= f.radio_button :status, status %>
               <%= f.label :status, status %>
            <% end %>
         </div>
         
         <div class='est'>
            <%= f.select :estimate, (1..10).to_a %>
         </div>
         
         <div class='date'>
            <%= f.date_select :demo %>
         </div>
      
         <div class='save'>
            <button>Save</button>
         </div>
      <% end %>
      
      <div class='delete'>
         <% form_for :feature, :url => feature_path(@feature), :html => {:method => 'DELETE' } do |f| %>
            <button>Delete</button>
         <% end %>
      </div>
   </div>
<% end %>
