<a href='#'>ScrumSpace</a>
&raquo; CareerMee
<a href='features.html'>Product Backlog</a>
<a href='tasks.html'>Sprint Backlog</a>
<a href='burndowns.html'>Burndown</a>

<p id='demos'>
   <%= link_to('all', features_path) %>
   <% @product.features.map {|f| f.demo.to_s(:db) }.each do |demo| %>
      <%= link_to demo, sprint_path(demo) %>
   <% end %>
</p>

<p id='subtotal'>
   Subtotal: <%= @features.inject(0) { |s,f| s += f.estimate } %>
</p>

<h1>New feature</h1>
<% form_for :feature, Feature.new, :url => features_path do |f| %>
   <%= f.text_area :description, :cols => 30, :rows => 5 %>
   <%= f.select :estimate, (1..10).to_a %>
   <%= f.date_select :demo %>
   
   <% Feature::STATUS.each do |status| %>
      <%= f.radio_button :status, status %>
      <%= f.label :status, status %>
   <% end %>
   
   <button>Save</button>
<% end %>

<br/><hr/><br/>

<% @features.each do |@feature| %>
   <% form_for :feature, :url => feature_path(@feature), :html => {:method => 'PUT' } do |f| %>
      <%= f.text_area :description, :cols => 30, :rows => 5 %>
      <%= f.select :estimate, (1..10).to_a %>
      <%= f.date_select :demo %>
      
      <% Feature::STATUS.each do |status| %>
         <%= f.radio_button :status, status %>
         <%= f.label :status, status %>
      <% end %>
      
      <button>Save</button>
   <% end %>
   
   <% form_for :feature, :url => feature_path(@feature), :html => {:method => 'DELETE' } do |f| %>
      <button>Delete</button>
   <% end %>
<% end %>
