<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
      <%= stylesheet_link_tag 'scrumspace' %>
      <%= javascript_include_tag 'prototype' %>
      <%= javascript_include_tag 'effects' %>
   </head>
   <%# TODO: refactor to a helper & test -%>
   <body class="<%= controller.controller_name -%>">
      <ol id="nav">
         <li><%= @product.name %></li>
         <li><%= link_to 'Product Backlog', features_path %></li>
         <li><%= link_to 'Sprint Backlog', tasks_path %></li>
      </ol>
      <%= yield %>
   </body>
</html>
