<p><%= flash[:notice] %><p>

<% form_for Account.new do |f| %>
   <%= f.error_messages %>
   
   <p>http://<%= text_field_tag :product %>.scrumspace.com</p>
   
   <%= f.label :login %><br />
   <%= f.text_field :login %><br />
   <br />

   <%= f.label :password %><br />
   <%= f.password_field :password %><br />
   <br />
   
   <%= f.label :password_confirmation %><br />
   <%= f.password_field :password_confirmation %><br />
   <br />

   <%= f.submit "Sign up" %>
<% end %>
